@use '../variables' as *;
@use '../mixins' as *;

// Index Page Styles

// Icon Section Styles ---------------
.icon-section {
  background-color: $secondary-light;
}

.icon-section-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 0;
  img {
    width: 15%;
  }
}

// Categories Section Styles

.categories-container {
  padding: 3% 0;
}

.categories-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 5% 0;
  li {
    flex-basis: 10%;
  }
}

.cat-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% 0;
  // margin-right: 0;

  img {
    max-height: 2.2rem;
    padding-right: 10%;
  }
}

.ui-button {
  background-color: #E8F7E9;
}

.dev-button {
  background-color: #FFFAEC;
}

.marketing-button {
  background-color: #FFEBFB;
}

.tele-button {
  background-color: #E8F7E9;
}

.accounting-button {
  background-color: #F7F5FF;
}

.editing-button {
  background-color: #FFF3EA;
}

// Trending Section Styles -------------

.trending-container {
  padding: 3% 0;
}

.trending-heading-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-button-box {
  display: flex;

  button {
    padding: 0%;

    &.heading-icon-left-box {
      background-color: $white;

      &:hover,
      &:focus {
        background-color: $accent;
        border: 0.1rem solid $accent;
      }
    }

    &.heading-icon-right-box {
      background-color: $primary-med;

      &:hover,
      &:focus {
        background-color: $primary-dark;
        border: 0.1rem solid $primary-dark;
      }
    }
  }
}

.heading-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.trending-ul {
  display: flex;
  justify-content: space-between;

  li {
    width: 24%;
    position: relative;
  }
}

.trending-img-div {
  img {
    object-fit: cover;
    min-height: 35rem;
    width: 100%;
  }

  p {
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: $white;
  }
}

// Listing Section Styles ---------------

.listing-section {
  padding: 3% 0 5%;
}

.explore-jobs-link {
  color: $primary-med;
}

.job-listings-ul {
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    border: 0.1remrem solid $secondary-light;
    margin-bottom: 1%;
  }

  .icon-box {
    display: flex;
    justify-content: center;
    flex-basis: 10%;
    svg {
      width: 4rem;
      height: 4rem;
      color: $primary-dark;
    }
  }

  h5 {
    flex-basis: 22%;
    margin-right: 5%;
  }
}

.job-time-box,
.job-location-box {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

.listing-button-box {
  display: flex;
  justify-content: center;
  flex-basis: 20%;
}

.save-icon-box {
  margin-right: 5%;
  align-self: center;

  img {
    min-height: 3.5rem;
    min-width: 3.5rem;
    border-radius: 50%;
    transition: 300ms;

    &:hover,
    &:focus {
      background-color: $primary-dark;
    }
  }
}

.bold-company {
  font-weight: bold;
}

.apply-button {
  background-color: $primary-med;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  &:hover,
  &:focus {
    color: $black;
  }
}

.post-job-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outline-box {
  justify-self: center;
  align-self: center;
  padding: 0.5rem 1rem;
  margin: 2% 0;
  border-radius: 5rem;
  border: 0.1rem solid $black;

  p {
    display: inline;
    font-weight: bold;
  }

  span,
  a {

    color: $primary-med;
  }

  a {
    font-weight: 400;
    padding: 0;
    font-size: $fs-default;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $black;
    }
  }
}

// Get Started Section

.get-started-section {
  background-image: url(../../../assets/images/person-on-laptop-2.jpg);
  background-position: 25% center;
  background-size: cover;

  h3 {
    color: $white;

    span {
      color: $accent;
    }
  }

  .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 50%;
    background-color: $primary-med;
  }
}

.section-gradient {
  min-height: 70vh;
  padding: 3% 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 38%, rgba(0, 0, 0, 0.7553221972382703) 100%);
}

.get-started-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 70vh;
}

.get-started-heading-box {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 44%;
  padding: 1%;

  .icon-box {
    width: 6.5rem;
    height: 6.5rem;
  }

  p {
    color: $white;
  }
}

.get-started-gallery-box {
  display: flex;
  justify-content: space-around;
}

.get-started-card {
  flex-basis: 30%;
  display: flex;
  justify-content: space-between;
  background-color: $transparent-white;
  border-radius: 1rem;
}

.get-started-card-box {
  display: flex;
  padding: 7%;

  .icon-container {
    flex-basis: 20%;
    margin-right: 4%;
  }

  p {
    margin-bottom: 5%;
  }

  a {
    color: $primary-med;
    text-transform: uppercase;
    padding: 0;
    letter-spacing: 0.08rem;

    &:hover,
    &:focus {
      color: $black;
    }
  }
}

// Talent Section Styles ------------------

.talent-section {
  display: flex;
  justify-content: space-between;
  padding: 10% 0;

  .talent-choose,
  h3,
  h4 {
    color: $primary-med;
  }

  .talent-choose {
    font-weight: bold;
    letter-spacing: .2px;
  }

  h3 {
    font-size: $fs-2xl;
  }

  h4 {
    font-size: $fs-m;
  }

  p {
    font-size: $fs-xs;
    padding: 2% 0;
  }
}

.talent-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: 48%;
  padding: 2%;
}

// Accordion Box Styles
.accordion-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordion-header {
  display: flex;
  justify-content: space-between;

  padding: 5% 2% 5% 0;
  cursor: pointer;

  img {
    width: 2rem;
  }
}

.accordion-text {
  height: 0;
  overflow: hidden;
  transition: 500ms;
  overflow-y: auto;
}

.accordion-text.active {
  min-height: 8.4rem;
  overflow: visible;

}


.talent-right {
  flex-basis: 48%;
  position: relative;
  max-height: 65rem;
  min-height: 65rem;
  max-width: 65rem;
  min-width: 65rem;
}

.img-pos {
  position: absolute;

  img {
    object-fit: cover;
  }
}

// Peach
.talent-top-img {
  img {
    object-position: left 20%;
    width: 32.1rem;
    height: 20rem;
    border-radius: 3.5rem 0 3.5rem 0;
  }
}

// Swoosh
.talent-swoosh {
  left: 48%;
  top: -10%;
}

// Dot Pattern
.talent-dot-pattern {
  right: 15%;
  top: 5%;
}

// Search Bar
.talent-search-bar {
  right: 0;
  top: 15%;
}

.small-search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 42rem;
  height: 7rem;
  background-color: $transparent;

  .small-keyword-box {
    height: 100%;
    flex-basis: 80%;
  }

  label {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  input[type="text"] {
    align-self: center;
    height: 100%;
    width: 100%;
    padding: 5% 10%;
    border-radius: 1rem;
    box-shadow: -0.7rem 1.1rem 3rem 1.7rem rgba(0, 0, 0, 0.11);
  }

  .search-button {
    padding: 0;
    width: auto;
    background-color: $white;
    border-radius: 1rem;
    box-shadow: -0.7rem 1.1rem 3rem 1.7rem rgba(0, 0, 0, 0.11);
  }

  .search-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 1rem;
    background-color: $primary-med;
  }


}

// Grey Portrait
.talent-right-img {
  right: 12%;
  bottom: 10%;

  img {
    width: 29.6rem;
    height: 32.3rem;
    border-radius: 3.5rem 0 3rem 0;
  }
}

// Payment Box
.talent-payment-box {}

// Pink Portrait
.talent-left-img {
  top: 41%;

  img {
    object-position: top;
    width: 19.5rem;
    height: 17.5rem;
    border-radius: 0 3.5rem 0 3.5rem;
  }
}

//  Candidates
.talent-candidate-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  padding: 2% 10% 15% 10%;
  border-radius: 1.5rem;
  background-color: $white;
  box-shadow: -0.7rem 1.1rem 3rem 1.7rem rgba(0, 0, 0, 0.11);
}

.talent-layered-imgs {
  display: flex;

  .layered-img {
    img {
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      border: 0.5rem solid $white;
    }
  }

  .blue-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2EEF1;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 0.5rem solid $white;
  }

  // Layered/Circular Candidate Images
  .layer-1 {
    left: 10%;
  }

  .layer-2 {
    left: 25%;
  }

  .layer-3 {
    left: 40%;
  }

  .layer-4 {
    left: 55%;
  }

  .layer-5 {
    left: 70%;
  }
}


// Client Section ---------------------------

.client-section {
  @include bkgd("../../assets/images/team-meeting.jpg");
}

.client-gradient {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 38%, rgba(0, 0, 0, 0.6) 100%);
  padding: 0 0 8% 0;
}

.client-container {
  display: flex;
  flex-direction: column;

  .heading-box {
    align-items: flex-end;

    h3 {
      color: $white;
      padding: 0;
    }

    span {
      display: block;
    }
  }
}

.testimonial-box {
  display: flex;
  justify-content: space-between;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 45%;
  padding: 4%;
  border-radius: 1rem;
  background-color: $white;

  .client-quote {
    margin: 5% 0;
    line-height: 5rem;
    font-size: $fs-m;
  }
}

.testimonial-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;

  h4 {
    font-size: 2.8rem;
    margin-bottom: 3%;
  }

}

.heading-button-box button.heading-icon-left-box.client-icon-back {
  background-color: $transparent;
}

.client-details {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: $fs-default;
    margin: 0;
  }

  .client-name {
    font-weight: bold;
  }

  .client-location {
    color: $secondary-dark;
  }

  img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
  }
}

// Jobi Guides Section Styles ------------------------

.jobi-guides-section {
  padding: 0 0 5% 0;

  h3 {
    color: $primary-med;
  }
}

.guides-ul {
  display: flex;
  justify-content: space-between;
}

.guides-li {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  padding: 1%;
  transition: 500ms;

  &:hover,
  &:focus {
    box-shadow: -0.7rem 1.1rem 3rem 1.7rem rgba(0, 0, 0, 0.11);
  }
}

.guide-img {
  object-fit: cover;
  object-position: center;
  max-height: 27.5rem;
  width: 100%;
  margin-bottom: 8%;
}

.guides-date {
  color: $secondary-med;
  font-size: $fs-xxs;
  margin-bottom: 5%;
}

.guides-h4 {
  font-size: $fs-m;
  margin-bottom: 8%;
  line-height: 3.4rem;
}

.guides-content {
  font-size: $fs-xxs;
  margin-bottom: 5%;
  line-height: 3rem;
}

.guides-arrow-link {

  &:hover,
  &:focus {
    transform: translateX(15%);
  }
}

// Collaboration Section -----------------------
.collaboration-section {
  display: flex;
  justify-content: space-between;
  padding: 2% 0 4% 0;

  .collaboration-left,
  .collaboration-right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 49%;
  }

  .collaboration-graphic-box {
    position: relative;
    max-height: 60rem;
    height: 60rem;
    max-width: 60rem;
    width: 60rem;
  }

  .outer-circle,
  .circle-graphic,
  .inner-circle {
    position: absolute;
    border-radius: 50%;
    border: 0.1rem solid $secondary-light;
  }

  .circle-graphic {
    background-color: $white;
    transition: 300ms;

    &:hover {
      background-color: $secondary-light;
      border: 0.1rem solid $primary-med;
    }
  }

  .outer-circle {
    width: 48.9rem;
    height: 48.9rem;
    top: 5%;
    right: 5%;
  }

  .inner-circle {
    width: 25rem;
    height: 25rem;
    top: 23.5%;
    right: 23.5%;
    transition: 300ms;

    &:hover {
      background-color: $secondary-light;
      border: 0.1rem solid $primary-med;
    }
  }

  // Circle Icon Styles
  .circle-icon svg {
    position: absolute;
  }

  // Circle 1/2 + Icon
  .circle-graphic-1,
  .circle-graphic-3 {
    width: 10.5rem;
    height: 10.5rem;
  }

  // Circle 1 + Icon - Instagram
  .circle-graphic-1 {
    left: -10%;
    top: 25%;
  }

  .circle-icon-1 svg {
    width: 5rem;
    height: 5rem;
    color: rgb(218, 4, 111);
    left: 26%;
    top: 25%;
  }

  // Circle 2 + Icon - Google
  .circle-graphic-2 {
    width: 6.5rem;
    height: 6.5rem;
    right: 36%;
    top: -5%;
  }

  .circle-icon-2 svg {
    width: 3rem;
    height: 3rem;
    color: rgb(4, 86, 218);
    left: 25%;
    top: 25%;
  }

  // Circle 3 + Icon - Messenger
  .circle-graphic-3 {
    right: -6%;
    top: 18%;
  }

  .circle-icon-3 svg {
    width: 5rem;
    height: 5rem;
    color: rgb(4, 161, 218);
    left: 26%;
    top: 25%;
  }

  // Circle 4 + Icon - Slack
  .circle-graphic-4 {
    width: 14.8rem;
    height: 14.8rem;
    right: 10%;
    bottom: -8%;
  }

  .circle-icon-4 svg {
    width: 7.5rem;
    height: 7.5rem;
    color: rgb(218, 4, 111);
    left: 25%;
    top: 25%;
  }

  // Circle 5 + Icon
  .circle-graphic-5 {
    width: 8.1rem;
    height: 8.1rem;
    bottom: 6%;
    left: 6%;
  }

  .circle-icon-5 svg {
    width: 4rem;
    height: 4rem;
    color: rgb(1, 116, 32);
    left: 25%;
    top: 25%;
  }

  // Circle 6 + Icon
  .circle-graphic-6 {
    position: absolute;
    width: 10rem;
    height: 10rem;
    right: 30%;
    top: 35%;

    // Jobi Logo
    .circle-logo-icon {
      .circle-primary {
        position: absolute;
        left: 40%;
        width: 5rem;
        height: 5rem;
      }

      .circle-secondary {
        position: absolute;
        left: 10%;
        width: 5rem;
        height: 5rem;
      }

      h4 {
        position: absolute;
        color: $black;
        top: 40%;
        right: 20%;
        font-size: 3.7rem;
      }
    }
  }

  .collaboration-right {
    flex-direction: column;
    padding: 5%;

    p:first-of-type {
      text-transform: uppercase;
      color: $secondary-med;
      margin: 2% 0;
    }

    .collaboration-text {
      line-height: 3.2rem;
      margin: 2% 0;
    }

    .learn-more-link {
      display: flex;
      align-items: center;
      min-width: 16rem;
      margin: 2% 0;
      padding-left: 0;
      transition: 500ms;

      img {
        padding: 0 2%;
      }

      &:hover,
      &:focus {
        transform: translateX(5%);
      }
    }
  }

}


// Job Portal Section ---------------------------

.job-portal-section {
  @include bkgd("../../../assets/images/group-at-shared-work-table.jpg");
}

.job-portal-gradient {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 38%, rgba(0, 0, 0, 0.3) 100%);
}

.job-portal-container {
  display: flex;
  align-items: flex-start;
  padding: 2% 0;

  .portal-left {
    flex-basis: 62%;
    padding: 5%;

    h3 {
      color: $white;
      padding: 0;
    }
  }

  .portal-right {
    display: flex;
    flex-direction: column;
    flex-basis: 38%;
    padding: 3%;

    p {
      padding: 5% 0;
      line-height: 3.8rem;
      color: $white;
    }

    .job-portal-buttons {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      a {
        padding: 1.5rem 2.5rem;
      }

      a:first-of-type {
        margin-right: 3%;
        background-color: $transparent;
        color: $white;


        &:hover,
        &:focus {
          background-color: $accent;
          color: $black;
        }
      }
    }
  }
}
* {
  border: 1px solid pink;
}