@use '../variables' as *;
@use '../mixins' as *;

// Index Page Styles

// ----------------------- 1425px -----------------------
@media (max-width: 1425px) {

  // Global Styles
  h2 {
    font-size: $fs-4xl;
  }

  h3,
  .talent-section h3 {
    font-size: $fs-2xl-b;
  }

  p {
    font-size: $fs-xs;
  }

  // Header
  // Icon Section
  // Categories Section
  .categories-ul li {
    display: flex;
    justify-content: center;
    flex-basis: 30%;
  }

  // Trending Section
  .trending-img-div {
    img {
      min-height: 30rem;
    }

    p {
      font-size: $fs-xxs;
    }
  }

  // Listing Section
  .job-listings-ul {

    h5 {
      margin-right: 1%;
    }
  }

  // Get Started Section
  // Talent Section
  // Client Section
  // Jobi Guides Section
  // Collab Section
  // Job Portal Section

}


// ----------------------- 1250px -----------------------

@media (max-width: 1250px) {

  // Global Styles
  // Header
  // Nav Styles - Mobile Menu

  .nav-menu.unclicked,
  .nav-button.unclicked,
  .nav-button.clicked {
    display: block;
  }

  .nav-ul.unclicked {
    display: none;
  }

  

  .desktop-nav {
    display: none;
  }

  
  .mobile-nav {
    display: flex;
    

    .category-link {
      display: none;
    }

    .nav-ul {
      flex-direction: column;
      min-width: 25rem;
      position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(22, 22, 22, 0.822);
      li {
        margin-bottom: 2rem;
        a {
          font-size: $fs-m;
        }
      }
    }

    .nav-left-box {

      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .nav-right-box {
      position: fixed;
      right: 12rem;
      top: 2rem;
    }
  }



  // Icon Section
  // Categories Section
  // Trending Section
  // Listing Section
  // Get Started Section
  // Talent Section
  // Client Section
  // Jobi Guides Section
  // Collab Section
  // Job Portal Section














}

















// ----------------------- 1250px -----------------------
// ----------------------- 1250px -----------------------


// Global Styles
// Header
// Icon Section
// Trending Section
// Listing Section
// Get Started Section
// Talent Section
// Client Section
// Jobi Guides Section
// Collab Section
// Job Portal Section