@use '../variables' as * ;

// Header Styles ---------------------------------
.index-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-image: url(../../../assets/images/group-working-on-laptops.jpg);
  background-position: center;
  background-size: cover;
}

.index-header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;

  h2 {
    font-family: $ff-body;
    text-align: center;
    margin-bottom: 5%;
  }

  p {
    color: $white;
    margin-bottom: 5%;
  }
}

.index-search-box {
  flex-basis: 50%;
}

.stats-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.stats-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8%;

  p {
    color: $white;
  }

  p:first-of-type {
    font-size: $fs-l;
  }
}