@use '../variables' as *;

// General Positioning

.nav-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
}

.nav-left-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  a {
    display: inline-block;
    color: $white;
  }

  .category-link {
    margin-right: 0.5rem;

    img {
      margin-right: 1rem;
    }

    text-align: center;
    width: 17rem;
  }
}

.nav-right-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 60%;

  a:first-of-type::after {
    position: absolute;
    top: 1.6rem;
    right: -1.3rem;
    content: "";
    width: 2rem;
    height: 0.2rem;
    background-color: $secondary-med;
    rotate: 90deg;
  }
}

// Main Nav Link Styles

.menu-link {

  &:hover,
  &:focus {
    color: $accent;
  }

  &.login-link {
    color: $accent;

    &:hover,
    &:focus {
      color: $white;
    }
  }
}

.post-job-link {
  position: relative;
  color: white;
}

.secondary-button.hire-talents {
  color: $black;

  &:hover,
  &:focus {
    background-color: rgba(196, 196, 196, 0.3490196078);
    border: 1px solid $accent;
    color: $white;
  }
}

// Logo Styles

.logo-container {
  display: flex;
  align-items: center;
}

.logo-circle-box {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.circle-primary {
  left: 0;
  background-color: $accent-translucent;
}

.circle-secondary {
  left: -1rem;
  background-color: $primary-med-translucent;
}

h1 {
  margin-bottom: 0.5rem;
}

h1,
.logo-circle-box,
.h1-link {
  z-index: 50;
}

.h1-link {
  border: 1px solid $transparent;
  padding: 0.4rem;
  margin-right: 1rem;

  &:hover,
  &:focus {
    border: 1px solid white;
  }
}

// Mobile Nav Styles
.mobile-nav {
  display: none;
}

.nav-menu.unclicked,
.nav-menu.clicked {
  padding: 1rem;
  background-color: $transparent;
  font-size: $fs-m;

  &:hover,
  &:focus {
    padding: 1rem;
    border: 1px solid $transparent;
    background-color: $transparent;
  }

  &:hover .nav-button,
  &:focus .nav-button {
    color: $accent;
  }

  button {
    border: 1px solid $transparent;
    border-radius: 0;
  }
}

.nav-menu.unclicked {
  display: none;
}

.nav-menu-clicked {
  display: inline-block;
}

.nav-button.clicked,
.nav-button.unclicked {
  position: fixed;
  z-index: 20;
  right: 6.5rem;
  top: 2.5rem;
  display: none;
  background-color: $transparent;
  color: $white;
  font-size: $fs-l;
  transition: 500ms;

  &:focus,
  &:hover {
    color: $accent;
  }

}

.nav-button.clicked {
  rotate: -45deg;
}

.nav-button.unclicked {
  rotate: 0deg;
}