@use '../variables' as *;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3%;
}

.logo-container,
.nav-ul,
.nav-button-container {
  flex-basis: 30%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-circle-box {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.circle-primary {
  left: 0;
  top: 3px;
  background-color: $accent-translucent;
}

.circle-secondary {
  left: -10px;
  top: 3px;
  background-color: $primary-med-translucent;
}

.nav-ul {
  display: flex;

  a {
    color: $white;
  }
}

.menu-link,
.button-link {
  margin: 0 1%;
}