@use '../variables' as *;

// General Positioning

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3%;
}

.nav-left-box {
  display: flex;
  flex-basis: 68%;
  justify-content: space-between;
  align-items: center;
}

.nav-right-box {
  display: flex;
  flex-basis: 38%;
  justify-content: flex-end;

  a:first-of-type::after {
    position: absolute;
    top: 1.6rem;
    right: -1.3rem;
    content: "";
    width: 2rem;
    height: 0.2rem;
    background-color: $secondary-med;
    rotate: 90deg;
  }
}


// Logo Styles

.logo-container {
  display: flex;
  align-items: center;
}

.logo-circle-box {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.circle-primary {
  left: 0;
  background-color: $accent-translucent;
}

.circle-secondary {
  left: -1rem;
  background-color: $primary-med-translucent;
}

h1 {
  margin-bottom: 0.5rem;
}

// Category Button Styles

.category-icon {
  padding: 0 0.5rem;
}

// Main Nav List Styles
.nav-ul {
  display: flex;

  a {
    color: $white;
  }
}

.menu-link,
.button-link {
  margin: 0 1%;
}

.menu-link {

  &:hover,
  &:focus {
    color: $accent;
  }
}

.post-job-link {
  position: relative;
  color: white;
}

.login-link {
  color: $accent;

  &:hover,
  &:focus {
    color: $black;
  }
}