@use '../variables' as *;

// * {
//   border: 0.1rem solid white;
// }
// Search Bar Styles

.search-form {
  display: flex;
  justify-content: space-between;
  min-width: 80rem;
}

.keyword-box,
.category-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  background-color: $white;
  padding: 2%;
  label {
    margin-bottom: 2%;
  }
}

.keyword-box {
  border-radius: 1rem 0 0 1rem;
}

input, select {
  border: none;
  background-color: $white;
  color: $black;
}

.search-button {
  width: 20%;
  border-radius: 0 1rem 1rem 0;
  border: 0.1rem solid $transparent;
  background-color: $accent;
  &:hover,
  &:focus {
    border: 0.1rem solid $primary-dark;
    background-color: $primary-dark;
    color: $white;
  }
}

