@use "./variables" as *;

// Headings
@mixin serif($size-value) {
  font-size: $size-value;
  font-family: $ff-heading;
  letter-spacing: $ls-default;
  line-height: $lh-default;
  color: $black;
}

// Body Styles
@mixin sans-serif($size-value) {
  font-size: $size-value;
    font-family: $ff-body;
    letter-spacing: $ls-default;
    line-height: $lh-default;
    color: $black;
}