@use "./variables" as *;
@use "./mixins" as *;


h2 {
  @include serif($fs-5xl);
  color: $white;
}

h3 {
  @include sans-serif($fs-3xl);
}

h4 {
  @include sans-serif($fs-l);
}

h5, p, a, button {
  @include sans-serif($fs-default);
}

label {
  @include sans-serif($fs-xxs);
  color: $secondary-dark;
}

input::placeholder, input, select {
  @include sans-serif($fs-xxs);
}

a, button {
  font-size: 1.6rem;
  font-weight: bold;
}

// Nav
h1, .jobi-h4 {
  @include serif($fs-l);
  font-weight: bold;
  margin: 0;
  color: $white;
}