@use "./variables" as *;
@use "./mixins" as *;


h2 {
  @include serif($fs-3xl);
  color: $white;
}

h3 {
  @include sans-serif($fs-2xl);
}

h4 {
  @include sans-serif($fs-xl);
}

h5, p, a, button {
  @include sans-serif($fs-default);
}

label {
  @include sans-serif($fs-xxs);
  color: $secondary-dark;
}

input::placeholder, input, select {
  @include sans-serif($fs-xs);
}

a, button {
  font-size: 1.6rem;
  font-weight: bold;
}

// Nav
h1 {
  @include serif($fs-small);
  font-weight: bold;
  margin: 0;
  color: $white;
}