@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

// Colours
$white: #FFFFFF;
$black: #0F1620;
$primary-dark: #254135;
$primary-med: #31795A;
$primary-light: #E9F2EF;
$accent: #D2F34C;
$secondary-med: #C4C4C4;
$secondary-light: #F5F5F5;
$transparent: #00000000;

// Fonts Sizes
$fs-global: 62.5%;
$fs-3xl: 9rem; /* 90px */
$fs-2xl: 8.5rem; /* 85px */
$fs-xl: 7.2rem; /* 72px */
$fs-lrg: 6rem; /* 60px */
$fs-med: 5.2rem; /* 52px */
$fs-small: 3.6rem; /* 36px */
$fs-xs: 2.4rem; /* 24px */
$fs-default: 2rem; /* 20px */

// Line Height
$lh-default: 1.2;

// Letter Spacing
$ls-default: 1.2px;

// Font Family
$ff-heading: 'EB Garamond', serif;
// $ff-body: 'Gordita Regular', sans-serif;
// @font-face {
//   font-family: "Gordita Regular";
//   src: local("gordita-regular"), url("./src/fonts/gordita-regular.otf") format("opentype");
// }