@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

// Colours
$white: #FFFFFF;
$black: #0F1620;
$primary-dark: #254135;
$primary-med: #31795A;
$primary-med-translucent: #31795ac5;
$primary-light: #E9F2EF;
$accent: #D2F34C;
$accent-translucent: #d2f34cd3;
$secondary-dark: #454545;
$secondary-med: #C4C4C4;
$secondary-light: #F5F5F5;
$transparent-grey: #c4c4c459;
$transparent: #00000000;

// Fonts Sizes
$fs-global: 62.5%;
$fs-3xl: 8.2rem; /* 82px */
$fs-2xl: 6rem; /* 60px */
$fs-xl: 3.2rem; /* 32px */
// $fs-lrg: 6rem; /* 60px */
// $fs-med: 5.2rem; /* 52px */
$fs-small: 3.6rem; /* 36px */
$fs-default: 2rem; /* 20px */
$fs-xs: 1.6rem; /* 16px */
$fs-xxs: 1.2rem; /* 12px */

// Line Height
$lh-default: 1.2;

// Letter Spacing
$ls-default: 1.2px;

// Font Family
$ff-heading: 'EB Garamond', serif;
$ff-body: 'Gordita Regular', sans-serif;
